body {
    position: relative;
    background: #c7e5f0;
}

span {
    display: block;
    word-wrap: break-word;
    width: 350px;
    white-space: normal;
}

.ui-keyboard span {
    width: 100% !important;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 125px solid #ea6419;
    float: left;
}

.trapezoid {
    border-bottom: 125px solid #39b3e0;
    border-left: 225px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 1030px;
    float: left;
}

.nav-triangle {
    position: relative;
    height: 125px;
    background: #3896b3;
}

.icon-line1 {
    position: absolute;
    left: 3.53%;
    right: 36.89%;
    top: 17.46%;
    bottom: 33.73%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    width: 210px;
    color: #000000;
}

.icon-line2 {
    position: absolute;
    left: 4.53%;
    right: 36.89%;
    top: 44.46%;
    bottom: 33.73%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    width: 210px;
    color: #000000;
}

.button-group {
    bottom: 0;
    left: 400px;
    position: absolute;
}

.button-nav-active {
    margin-left: 10px !important;
    width: 120px;
    height: 60px;
    left: 433px;
    top: 76px;
    border-radius: 15px 15px 0px 0px;
    background: #c4c4c4;
    border-color: #c4c4c4;
    color: black;
    font-size: 25px;
    font-weight: 500;
}

.button-nav {
    margin-left: 10px !important;
    width: 160px;
    height: 60px;
    left: 433px;
    top: 76px;
    border-radius: 15px 15px 0px 0px;
    background: #3092b0;
    border-color: #3092b0;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 500;
}

.label-back {
    font-weight: 500 !important;
    margin-left: 11px;
    padding-bottom: 15px;
}

.style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

.style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #205163;
}


/* ______Custom tree____ */

#theTree {
    background: #c7e5f0 !important;
    /* overflow: scroll; */
    height: 460px;
}

.wj-node {
    color: #0062cc !important;
    margin-top: 10px;
}

.wj-state-selected .wj-node-text {
    font-weight: 500 !important;
}

.wj-node-text {
    color: #000000 !important;
}

.wj-state-selected {}

.wj-nodelist {}


/* ______Custom-fontaweasome-________ */

.main-content {
    height: 460px;
    /* overflow: scroll; */
}

.back {
    margin-left: 10px !important;
    width: 100px !important;
    height: 40px !important;
    border-radius: 7px 7px 7px 7px;
    background: #3092b0;
    border-color: #3092b0;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

img {
    /* width:100%; */
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-size: 24px;
    font-weight: 400;
    padding-left: 10px;
}

#wrap {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.spacer {
    height: 20px;
}


/* caret "after" content visible outside of keyboard popup */

.ui-keyboard-preview-wrapper {
    overflow: visible;
}

.ui-state-hover {
    background-color: #c4c4c4 !important;
    border-color: #ea6419 !important;
}

.ui-keyboard {
    background-color: #c7e5f0 !important;
    border: none !important;
}

.ui-keyboard input {
    margin-bottom: 100px;
}

.ui-keyboard-caret {
    width: 0px !important;
    position: fixed !important;
    left: 48px !important;
    top: 224px !important;
    height: 24px !important;
    font-size: 40px !important;
}

.ui-keyboard-input-current {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

a {
    text-decoration: none !important;
}


/* add caret character preview popup */

.ui-keyboard-caret:after {
    content: attr(data-character) !important;
    background: red !important;
    color: white !important;
    font-family: Verdana, Tahoma, Segoe, sans-serif !important;
    font-size: 1.1em !important;
    min-width: 1em !important;
    position: absolute !important;
    z-index: 100 !important;
    top: -1.4em !important;
    left: 25.5em !important;
}

.ui-keyboard-keyset {
    float: left !important;
}

.ui-keyboard-preview {
    width: 1000px !important;
}

#stenoKeyboard {
    z-index: 100000 !important;
}

.ui-keyboard input {
    margin-bottom: 50px;
    height: 70px !important;
    font-size: 36px !important;
}

/* $(".container").css("margin", "0px");

$(".container").css("max-width", "1348px");

$(".container").css("width", "1238px"); */

.container {
    margin: 0px;
    max-width: 1348px;
}

.trapezoid {
    width: 1238px;
}

.button-group button {
    margin-right: 30px;
}

.button-group {
    padding-left: 30px;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.label-roadmap {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
} 

.text-span{
    background: #1cb0f6;
    border-radius: 50%;
    height: 100px !important;
    width: 100px !important;
    display: inline-block !important;
    text-align: center !important;
    margin-left: 30px;
    margin-top: 20px;
}

#pinkcircle img {
    width: 85px;
}